<footer class="site-footer">
<div class="footer-inner">
<div class="footer-logo"><img alt="SNT 로고" decoding="async" loading="lazy" onerror="this.style.display='none'" src="img/ci_logo_white.png"/></div>
<div class="footer-text">
<div><b>대표</b> : 임은석   |   <b>주소</b> : 경기도 화성시 마도면 청원산단5길 26   |   <b>사업자등록번호</b> : 134-86-70313</div>
<div><b>Tel</b> : 031-508-0252   |   <b>Fax</b> : 031-508-0255   |   <b>E-mail</b> : sntin2010@naver.com</div>
<div>Copyright © SNT Co., Ltd. All rights reserved.</div>
</div>
</div>
<div class="footer-copy"></div>
</footer>